
a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: gray;
    background: rgba(0,0,0,.04);
}

a.active {
    background: rgba(63,81,181,.15)!important;
    color: #3f51b5;
}

.nav-caption {
    display: inline-block;
    padding-left: 8px;
}
