mat-sidenav-container {
    height: 100%;

    mat-sidenav {
        width: 250px;
    }

    mat-sidenav-content {
        background: lightgray;

        .header {
            position: sticky;
            top: 0;
            z-index: 2000;
        }
    }
}