<app-error-display [errorMessage]="errorMessage"></app-error-display>

<form fxLayout="column" [formGroup]="srForm">

    <!-- identifier -->
    <mat-form-field appearance="outline">
        <mat-label>Identifier</mat-label>
        <input matInput formControlName="identifier">
    </mat-form-field>

    <!-- quantity -->
    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity">
    </mat-form-field>

    <!-- floor -->
    <mat-form-field appearance="outline">
        <mat-label>Floor</mat-label>
        <mat-select formControlName="floorId">
            <mat-option *ngFor="let floor of floors$ | async" [value]=floor.id>
                {{floor.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- section -->
    <mat-form-field appearance="outline">
        <mat-label>Section</mat-label>
        <mat-select formControlName="sectionId">
            <mat-option *ngFor="let section of sections$ | async" [value]=section.id>
                {{section.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- action btns -->
    <div fxLayout="row" fxLayoutGap="8px">
        <button fxFlex="50" mat-raised-button [disabled]="!srForm.dirty" color="primary" (click)="onSubmit()">
            Search
        </button>
        <button fxFlex="50" mat-raised-button color="primary" (click)="onClear()">
            Clear
        </button>
    </div>

</form>